/*************************
 *  your code goes here  *
 *************************/
@charset "UTF-8";

.bxc .bx-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2147483647;
    text-align: center;
    vertical-align: middle;
}
.bxc .bx-close:hover {
    text-decoration: none;
    transition: all 0.2s ease-in;
}
.bxc .bx-close-circle {
    top: 0.25em;
    right: 1.25em;
    padding: 0;
    color: #999;
    cursor: pointer;
    background-color: transparent;
    box-shadow: none;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    -webkit-transition: background 0.75s ease;
    -moz-transition: background 0.75s ease;
    transition: background 0.75s ease;
}
/*.bxc .bx-close-circle::before {
    content: "X";
    color: white;
    font-size: 30px;
    font-weight: 500;
}*/

.bxc .bx-curtain {
    display: none;
}

.bxc .bx-type {
    /* defaults */
    visibility: hidden;
    position: fixed;
    height: auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    margin: 0 auto;
    z-index: 2147483644;
    /* disable impression scroll */
    pointer-events: none;
    background-color: #ffc216; 
}

.bxc.bx-impress .bx-type {
    visibility: visible;
    -webkit-overflow-scrolling: touch;
    pointer-events: auto;
    /* allow creative to scroll, especially mobile */
    overflow-y: auto;
}

.bx-type {
    z-index: 100;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 90%;
    height: 90%;
    max-width: 96%;
    max-height: 98%;
    overflow: hidden;
}

.bx-type .bx-triangle{
	width: 0;
	height: 0;
	cursor: pointer;
	float: right;
	border-top: 170px solid #ffc216;
	border-left: 170px solid transparent;
	filter: drop-shadow(-5px 5px 10px #b3880f);
	background-image: url('assets/lock.png');
}
.bx-type .bx-triangle:hover{
	opacity: 0.6;
	transition: all 0.2s ease-in;
}
.bxc .bx-creative {
	position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 500px;
    height: 500px;
    margin: auto;

    max-width: 100%;
    max-height: auto;
    overflow: hidden;
    background-size: 100% auto;
    background-origin: top center;
    box-sizing: border-box;
}

.bx-curtain {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.bx-impress .bx-curtain {
    display: block;
}


.bxc .bx-curtain {
    background-color: #000;
    opacity: 0.75;
}

.bxc .bx-type {
    width: 90%;
    height: 550px;
    margin: 0 auto;
    border-radius: 0;
    font-family: "Helvetica Neue", sans-serif;
    color: #000066; 
    text-align: center;

    max-width: 90%;
    max-height: 800px;
    overflow: hidden;
    background-size: 100% auto;
    background-origin: top center;
    box-sizing: border-box;
}

.bxc .bx-type img {
    display: inline-block;
    padding: 0px;
    margin-bottom: 55px;
    width: 260px;
    max-width: 100%;
}

.bxc .bx-type .bx-triangle img {
	float: right;
	position: absolute;
	top: 0;
	right: 0;
	width: 90px;
	padding: 5px 5px 0px 0px;
}

.bxc .bx-type h3{
	margin: 0;
	margin-top: 5px; 
	font-weight: 200;
    font-size:23px;
}

.bxc .bx-type h2{
	letter-spacing: -2px;
	margin: 0;
    font-size:60px;
}
.bxc .bx-type h1{
	letter-spacing: -3px;
	margin-bottom: 10px;
	margin-top: -28px;
    font-size:88px;
}

.bxc .bx-type .bx-step:after,
.bxc .bx-type .bx-group:after {
    content: "";
    display: table;
    clear: both;
}

.bxc .bx-type input,
.bxc .bx-type textarea,
.bxc .bx-type button {
    position: relative;
    z-index: 2;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    cursor: pointer;

}

.bxc .bx-type input[type="email"],
.bxc .bx-type input[type="number"],
.bxc .bx-type input[type="password"],
.bxc .bx-type input[type="search"],
.bxc .bx-type input[type="tel"],
.bxc .bx-type input[type="text"],
.bxc .bx-type input[type="url"],
.bxc .bx-type input[type="color"],
.bxc .bx-type input[type="date"],
.bxc .bx-type input[type="datetime"],
.bxc .bx-type input[type="datetime-local"],
.bxc .bx-type input[type="month"],
.bxc .bx-type input[type="time"],
.bxc .bx-type input[type="week"] {
	width: 400px;
    border: 1px solid #c2c2c2;
    background-color: #ffffff;
    padding: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.bxc .bx-type input[placeholder]{
	text-align: center;
	font-size: 21px;
	font-weight: 200;
	color: #c2c2c2;
}

.bxc .bx-type input[type="button"],
.bxc .bx-type input[type="reset"],
.bxc .bx-type input[type="submit"],
.bxc .bx-type button {
	width: 432px;
    text-align: center;
    border: 0px solid #333;
    color: #fff;
    padding: 15px; 
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    cursor: pointer;

    background-color: #295aa4;
    background-image: -webkit-linear-gradient(top, #295aa4, #00016c);
  	background-image: -moz-linear-gradient(top, #295aa4, #00016c);
  	background-image: -ms-linear-gradient(top, #295aa4, #00016c);
  	background-image: -o-linear-gradient(top, #295aa4, #00016c);
  	background-image: linear-gradient(to bottom, #295aa4, #00016c);
}

.bxc .bx-type input[type="submit"]:hover{
	box-shadow: 0 6px 9px rgba(0,0,0,0.20), 0 6px 9px rgba(0,0,0,0.27);
	transition: all 0.2s ease-in;
}
.bxc .bx-type input[type="submit"]:active{
	transform:translateY(4px);
	border-bottom-width: 2px;
}

.bxc .bx-type input[value]{
	font-size: 35px;
}
.bxc .bx-type .bx-row {
    width: 100%;
    padding: 6px;
}

.bxc .bx-type .bx-row .bx-row-email input{
	width: 100%;
}

.bxc .bx-type .bx-row .bx-row-submit input{
	width: 100%;
}

img#arrow{
    position: absolute;
    left: 40px;
    width: 392px;
    padding: 0;
    z-index: 10;
}
.background-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image:url('assets/lufthansa-demoscreenshot.png');
    background-size: contain;
}
.container {
    background-color: rgba(255,255,255, 0.9);
    margin: 0;
    padding: 10px;
    line-height: 1.5;
    border-bottom: 1px solid #ccc;
}

.container header{
	 font-family: "Helvetica Neue", sans-serif;
	 font-size: 23px;
     color: #000066;
}

button.bx-trigger{
	cursor: pointer;
	display: inline-block;
	height: 48px;
	width: 170px;
	min-width: 100px;
	border: none;
	outline: none;
	color: white;
	font-size: 20px;
	/*box-shadow: 0 2px 0px #01016c;*/
	/*border-bottom: 2px solid #01016c;*/
	margin: 20px 60px 10px 0px;

	background: #295aa4;
	background-image: -webkit-linear-gradient(top, #295aa4, #00016c);
  	background-image: -moz-linear-gradient(top, #295aa4, #00016c);
  	background-image: -ms-linear-gradient(top, #295aa4, #00016c);
  	background-image: -o-linear-gradient(top, #295aa4, #00016c);
  	background-image: linear-gradient(to bottom, #295aa4, #00016c);
}
button.bx-trigger:hover{
	background: #ffc216;
	background-image: -webkit-linear-gradient(top, #ffc216, #cc9b12);
  	background-image: -moz-linear-gradient(top, #ffc216, #cc9b12);
  	background-image: -ms-linear-gradient(top, #ffc216, #cc9b12);
  	background-image: -o-linear-gradient(top, #ffc216, #cc9b12);
  	background-image: linear-gradient(to bottom, #ffc216, #cc9b12);

	/*box-shadow: 0 4px 1px #cc9b12;*/
	/*border-bottom: 2px solid #cc9b12;*/
	transition: all 0.2s ease-in;
}
button.bx-trigger:active{
	transform:translateY(4px);
	border-bottom-width: 2px;
	box-shadow: none;
}
button.bx-trigger span{
	font-size: 16px;
	font-weight: 500;
	margin: 0;
	position: relative;
	text-align: center;
	color: white;
}
/*
.instructions {
    max-width: 600px;
}
*/

@media screen and (max-width: 750px) {
	.bxc .bx-type img{
		width: 240px;
	}
	.bxc .bx-type .bx-triangle img {
		width: 80px;
	}
	.bxc .bx-type .bx-triangle {
		border-top: 155px solid #ffc216;
    	border-left: 155px solid transparent;
	}
	.bxc .bx-type h3{
		font-size: 20px;
	}
	.bxc .bx-type h2{
		margin-top: 6px;
		font-size: 55px;
	}
	.bxc .bx-type h1{
		font-size: 83px;
		margin-top: -25px;
		margin-bottom: 8px;
	}
	.bxc .bx-creative {
    	height: 450px;
    	width: 460px;
	}
}

@media screen and (max-width: 700px) {
	.bxc .bx-type img {
    	width: 200px;
    	margin-bottom: 30px;
	}
	.bxc .bx-type .bx-triangle img {
		width: 70px;
	}
	.bxc .bx-type .bx-triangle {
		border-top: 135px solid #ffc216;
    	border-left: 135px solid transparent;
	}

	.bxc .bx-type h3{
		font-size: 18px;
	}

	.bxc .bx-type h2{
		font-size: 50px;
	}

	.bxc .bx-type h1{
		font-size: 78px;
	}

	.bxc .bx-type input[type="email"]{
		width: 350px;
	}
	.bxc .bx-type input[type="submit"]{
		width: 382px;
	}
	.bxc .bx-creative {
    	height: 400px;
    	width: 440px;
	}
}

@media screen and (max-width: 600px) {	 
	.bxc .bx-type img {
    	width: 180px;
    	margin-bottom: 30px;
	}

	.bxc .bx-type .bx-triangle img {
		width: 60px;
	}
	.bxc .bx-type .bx-triangle {
		border-top: 120px solid #ffc216;
    	border-left: 120px solid transparent;
	}

	.bxc .bx-type {
		height: 510px;
	}
	.bxc .bx-creative {
		height: 500px;
	}

	.bxc .bx-type h3{
		font-size: 16px;
	}

	.bxc .bx-type h2{
		font-size: 45px;
	}

	.bxc .bx-type h1{
		font-size: 68px;
		margin-top: -22px;
    	margin-bottom: 6px;
	}
	.bxc .bx-type input[type="email"]{
		width: 300px;
	}
	.bxc .bx-type input[type="submit"]{
		width: 332px;
	}
	.bxc .bx-type input[placeholder]{
		font-size: 19px;
	}
	.bxc .bx-type input[value] {
    font-size: 32px;
	}
	.bxc .bx-creative {
    	height: 370px;
	}
}

@media screen and (max-width: 500px) {
	.bxc .bx-type img {
    	width: 175px;
    	margin-bottom: 30px;
	}
	.bxc .bx-type .bx-triangle img {
		width: 55px;
	}
	.bxc .bx-type .bx-triangle {
		border-top: 110px solid #ffc216;
    	border-left: 110px solid transparent;
	}

	.bxc .bx-type h3{
		font-size: 15px;
	}

	.bxc .bx-type h2{
		font-size: 42px;
	}

	.bxc .bx-type h1{
		font-size: 65px;
		margin-top: -20px;
    	margin-bottom: 10px;
	}
	.bxc .bx-creative {
    	height: 366px;
	}
	.bxc .bx-type input[value] {
    font-size: 30px;
	}
}

@media screen and (max-width: 450px) {
	.bxc .bx-type img {
    	width: 165px;
    	margin-bottom: 30px;
	}
	.bxc .bx-type .bx-triangle img {
		width: 50px;
	}
	.bxc .bx-type .bx-triangle {
		border-top: 105px solid #ffc216;
    	border-left: 105px solid transparent;
	}

	.bxc .bx-type input[type="email"]{
		width: 250px;
	}
	.bxc .bx-type input[type="submit"]{
		width: 282px;
	}
	.bxc .bx-type input[value] {
    font-size: 28px;
	}

	.bxc .bx-type h3{
		font-size: 15px;
	}
	.bxc .bx-type h2{
		font-size: 38px;
	}
	.bxc .bx-type h1{
		font-size: 57px;
	}
	.bxc .bx-creative {
    	height: 380px;
	}
}

@media screen and (max-width: 400px) {
	.bxc .bx-type img {
    	width: 150px;
    	margin-bottom: 16px;
	}
	.bxc .bx-type .bx-triangle img {
		width: 48px;
	}
	.bxc .bx-type .bx-triangle {
		border-top: 100px solid #ffc216;
    	border-left: 100px solid transparent;
	}

	.bxc .bx-type {
		height: 440px;
	}
	.bxc .bx-type input[type="email"]{
		width: 210px;
	}
	.bxc .bx-type input[type="submit"]{
		width: 242px;
	}
	.bxc .bx-type input[placeholder]{
		font-size: 14px;
	}
	.bxc .bx-type input[value] {
    	font-size: 25px;
	}
	.bxc .bx-type h3{
		font-size: 14px;
	}
	.bxc .bx-type h2{
		font-size: 35px;
	}
	.bxc .bx-type h1{
		margin-top: -17px;
		font-size: 52px;
	}
	.bxc .bx-creative {
    	height: 310px;
	}

}

@media screen and (max-width: 350px) {
	.bxc .bx-type .bx-triangle img {
		width: 42px;
	}
	.bxc .bx-type .bx-triangle {
		border-top: 90px solid #ffc216;
    	border-left: 90px solid transparent;
	}

	.bxc .bx-type {
		height: 430px;
	}
	.bxc .bx-type input[type="email"]{
		width: 210px;
	}
	.bxc .bx-type input[type="submit"]{
		width: 242px;
	}
	.bxc .bx-type input[placeholder]{
		font-size: 14px;
	}
	.bxc .bx-type input[value] {
    	font-size: 25px;
	}
	.bxc .bx-type h1{
		margin-top: -16px;
	}
	.bxc .bx-type h2{
		font-size: 33px;
	}
	.bxc .bx-type h1{
		font-size: 50px;
	}

	.bxc .bx-creative {
    	height: 305px;
	}
	.bxc .bx-type img {
    	width: 140px;
    	margin-bottom: 10px;
	}

}